
.current-customer-panel {
  width: auto;
  position: fixed;
  top: 0px;
  text-align: left;
  right: 60px;
  background: transparent;
  z-index: 9999;

  background-color: #61C083;
  padding: 1.25em;
  color : #fff;

  &.search {
    width: 40%;
    top: -8px;
    padding-top: 0;
    padding-bottom: 0;

    label, input {
      color: #fff !important;
      font-weight: 100;
    }
    .cancel {
      top: 35px;
      right: 15px;
    }
  }

  .first-letter {
    border-radius: 4.8em;
    background: #FDBD33;
    width: 1.2em;
    font-size: 1.4em;
    text-align: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    font-weight: 300;
    color: #fff;
    float: left;
    text-transform: uppercase;
  }
  .name {
    float: left;
    width: 70%;
    font-size: 1.2em;
    padding-left: 0.7em;
    cursor: pointer;
  }
  .email {
    float: left;
    width: 70%;
    font-weight: 100;
    font-size: 1em;
    padding-left: 1em;
  }


  .contact-number {
    padding-top: 1em;
    padding-left: 1em;
    float: left;
  }

  .cancel {
    position: absolute;
    top: 10px;
    right: 5px;
  }

  .row {
    float: left;
    padding-right: 50px;
  }

  // .row:first-child {
  //   overflow: auto;
  //   width: 100%;
  //   margin-bottom: 1em;
  // }

  .customer-search {
    padding-top: 0;
  }

  .current-customer-info {
    float: right;
  }
}

.phone-icon {
  color: #fff;
  border-radius: 4.8em;
  background: $snappy-green-light;
  text-align: center;
  padding: 0.3em;
  float: left;
}

.phone-icon-white {
  color: $snappy-green-light;
  background: #fff;
  border-radius: 2em;
  text-align: center;
  padding: 0.1em;
  float: left;
  width: 2em;
  height: 2em;
  margin-top: 0.2em;
  margin-right: 0.5em;
}