$punk-bg-grey: #1a1a1a;
$medium:"(min-width:540px)";
$large:"(min-width:960px)";

html{height: 100%;}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'sans-serif';
    background: $punk-bg-grey;
    height: 100%;
}

#container{
    display: block;
    max-width: 1024px;
    padding-bottom: 50px;
    margin: auto;
}

.content{
    background-color: #fff;
    padding-bottom: 0.5em;
    @media #{$medium}{
        background-color:none; 
    }
}

.line-divider{
    margin-bottom: 1em !important;
}

.form-panel{
    width: 100%;

    @media #{$medium}{
        width: 75%;
    }

    @media #{$large}{
        width: 60%;
    }

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}